**/target/
*.class
*.jar
*.war
*.ear

**/node_modules/
**/dist/
**/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.local

.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
*.log
logs/

talos_pgdata/
*.pbf
talos-data/tools/

talos-engine/**/talos-data/
talos-engine/talos-data/

talos-data/maps/
**/maps/*/tiles/
**/maps/*/terrain.tif

*.tif.tmp
*.png.tmp
